extends layout

block content
  h1 Singapore's Population
  div(style='white-space:pre;')
    span Year: 
    br
    br
    input(id='year')
    br
    br
    input(id='search' type='button' value="Let's go!")